root = true

[*.{cs,xaml}]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true

[*.cs]
dotnet_sort_system_directives_first = true
csharp_style_namespace_declarations = file_scoped:warning
